.welcomeTextWrapper{
    width: 70%;
    margin: 0 auto;
    text-align: center;
    .welcomeText{
        font-size: 2.5em;
        margin-bottom: 10px;
    }   
    .welcomeTextSmall{
        margin-top: 10px;
        font-size: 1.7em;
    }
}