.map{
    border: 1px solid red;
    width: 1024px;
    height: 700px;
    .land{
        fill: #CCCCCC;
        fill-opacity: 1;
        stroke:white;
        stroke-opacity: 1;
        stroke-width:0.5;
        &:hover{
            fill: #20008D;
        }
    }
}
