.mapWrapper{
    margin: 20px;
    text-align: center;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
    transition: left 1s;
    &.countryInfoActive{
        left: 30%;
        transition: left 1s;
    }
    .map{
        width: 1024px;
        height: 700px;
        .land{
            fill: #CCCCCC;
            fill-opacity: 1;
            stroke:white;
            stroke-opacity: 1;
            stroke-width:0.5;
            &:hover{
                fill: #20008D;
            }
        }
    }
}

